body {
  margin: 0;
  padding: 0;
  font-family: helvetica neue,helvetica;
  font-size: 14px;
  margin-left: 200px;
  background-color: rgba(1,0,0,0.9);
}

.player__bar__img{
    width: 75px;
    height: 70px;
    MARGIN-LEFT: 4%;
}

.player__bar__left{
    float: left;
    position: absolute;
    transform: translateX(25%);
}

.topTracks{
    padding: 10px;
    float: left;
    width: 90%;
    padding-left: 5%;
}

h1{
  color: white;
  font-size: 5rem;
  line-height: 1.4;
  font-family: Helvetica neue, Helvetica;
  font-weight: 600;
  margin: 30px 0px 40px 10px;
}

.navigator{
  display: block;
  width: 200px;
  height: 100%;
  opacity: 1;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}

.spotify-logo{
  width: 100%;
  padding: 15% 15% 15% 15%;
  margin-bottom: 11%;
}

.nav-buttons{
    list-style-type: none;
    padding-left: 19%;
}

.nav-buttons li a{

}

.nav-buttons a{
  font-weight: 700;
  padding-bottom: 3px;
  width: 100%;
  line-height: 1.6;
  list-style: none;
  color: rgb(63%, 63%, 63%);
  display: block;
  font-size: 15px;

}

.nav-buttons a:hover{
  color: white;
  text-decoration: none;
}
.user{
  position: absolute;
  color: white;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 300;
  padding-left: 16%;
  bottom: 0px;
  padding-bottom: 10%;
  width: 100%;
}

.user a:hover{
  color: aqua;
  text-decoration: none;
}

.body-container{
  padding-left: 1.6%;

}
.padding--right {
  padding-right: 5%;
}

.music-item{
  width: 23.5%;
  height: 12%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  display: inline-block;
  overflow: hidden;
  margin: 0% 0.7% 3.5% 0.5%;
}
.music-item img{
  /*max-height: 80%;
  min-width: 100%;
  overflow: hidden;
*/
  /*width: 100%;
  height: 100%;
  max-height: 47%;
  max-height: 47vh;
  overflow: hidden;*/
}

.music-image{
  /*overflow: hidden;
  height: 50%;
  width: 100%;*/
  width: 98.5%;
  max-height: 37.8%;
  max-height: 37.8vh;
  overflow: hidden;
  opacity: 50%;
}

.music-image:hover{
  opacity: 0.4;
  transition: 0.2s;
}

.music-item p:hover{
  text-decoration: none;
}

li.music-item p:hover{
  text-decoration: none;
}
.music-item p{
  padding-top: 3%;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 12pt;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

h1.no-margin{
  margin-bottom: 1%;
}

.searcher{
  margin-left: 8px;
  border-radius: 25px;
  border: 0px 0px 0px 0px;
  height: 38px;
  width: 300px;
  border-style: solid;
  border: none;
  padding: 10px;
  margin-bottom: 3%;
}

.searcher:focus{
  outline: none;

}
.button{
  background-color: #2ebd59;
  border-radius: 30px;
  color: white;
  margin-left: 10%;
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
}

.Album-container{
padding: 3% 3% 3% 3%
}

.button:hover{
  background-color: #219042;

}
.leftSide{
  float: left;
  padding: 10px;
  width: 300px;
}
.ablum-title{
  text-align: center;
  color: white;
  margin: 0%;
  padding: 0%;
  padding-bottom: 2%;
  font-size: 26px;

}
.track-title{
   padding-bottom: 5%;
}
.artist-txt{
  text-align: center;
  font-size: .8em;
color: gray;
font-weight: 100;
  padding: 0%;
  margin: 0%;
  padding-bottom: 2%;
  font-family: helvetica neue,helvetica;

}

.track-title{
    font-size: 12px;
}


.topTracks tr{
    height: 40px;
}

.topTracks tr:hover{
    background-color: black;
}
.topTracks table{
    width: 100%;
}
.right-side tr{
  height: 40px;
  }
.right-side tr:hover{
  background-color: black;
}
.right-side table{
  width: 100%;
}
.right-side{
  padding: 10px;
  float: left;
  width: calc(100% - 300px);
  padding-left: 5%;
}
.col_duration{
  padding-left:10px;
  color:#8C8C8C;
}

.trackNumber{
    color:#8C8C8C;
}
.col_name{
  padding-left:10px;
  padding-right: 50px;
  color:white;
}
.clear{
  clear: both;
}
.table-row{
  margin-bottom: 5%;
}
.right-side tr{
  height: 40px;
  }
.right-side tr:hover{
  background-color: black;
}
.right-side table{
  width: 100%;
}
.artist__section{

}

.artist__section__details{
    color: white;
}

.artist__section__image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    padding-top: 35%;
    position: relative;

}

.Tracks__Table tbody tr td{
    padding-left: 2%;
    font-family: helvetica neue, helvetica;
    font-weight: 400;
    font-size: 16px;
}
.app{
    position: relative;
}
.player__bar__left__text{
    float: left;
}

.player__bar__left__imgConatiner img{
    padding-top: 100%;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 10px;
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.player__bar__left__imgConatiner{
    float: left;
    padding-right: 15%;
    padding-left: 8%;
    PADDING-TOP: 4%;
}
.player__bar__left__songName{
    /*float: left;
    padding-right: 5%;*/
}
.player__bar__left__artistName{
    /*float: left;*/
}
.player__bar{

    background-color: #252525;
    position: fixed;
    width: 100%;
    height: 13%;
    bottom: 0;
    left: 0;
    right: 0;
}
.player__controls__button{
    margin: 50%;
    color: white;
}
.player__bar__seek{
    width: 72%;
    /* text-align: center; */
    color: green;
    padding-left: 30%;
    padding-top: 0.5%;
    float: left;
        POSITION: absolute;
}
/*.player__bar input{
    width: 30%;

}*/
.artist__section__followers{

}

.artist__section__title{

}
